

header {
  background-color: skyblue;
  
}

a {
    font-display:
    padding-left: 8px;
    padding-right: 8px;
    text-transform: uppercase;
}


body {
  background-color: white;
}

#about {
  background-color: aqua;

}


#skills {


}


#experience {

  background-color: aqua;
}
